In [1]:
import json
import re
import pandas as pd

In [3]:
with open(r"C:\Users\ericluo04\Documents\GitHub\Bots-Project\Code\1. HK Dataset\HK English\tweet.json") as json_file:
    data = [json.loads(line) for line in json_file]

In [4]:
for i in range(len(data)):
    screen_name = re.search("RT @([\w]*):", data[i]['text'])
    if screen_name != None:
        data[i]['retweet_screen_name'] = screen_name.group(1)
    else:
        data[i]['retweet_screen_name'] = None

In [5]:
hkdf = pd.DataFrame.from_dict(data)[['user_id','screen_name','retweet_screen_name']]
hkdf = hkdf.dropna()

In [8]:
userdict = pd.Series(hkdf.user_id.values, index=hkdf.screen_name).to_dict()

hkdf["retweet_user_id"] = hkdf["retweet_screen_name"].map(userdict)
hkdf_short = hkdf.dropna()

In [9]:
hkdf_forcsvoutput = hkdf_short.groupby(hkdf_short.columns.tolist()).size().reset_index().\
    rename(columns={0:'num_retweets'}).sort_values(['num_retweets'], ascending=[True])

In [17]:
hkdf_forcsvoutput = hkdf_forcsvoutput[['user_id', 'retweet_user_id', 'num_retweets']]

In [18]:
hkdf_forcsvoutput

                    user_id  retweet_user_id  num_retweets
397013   866854830605717504     1.152452e+18             1
507616  1080833930918416385     5.516669e+07             1
507618  1080833930918416385     8.295790e+17             1
507619  1080833930918416385     1.209913e+08             1
507621  1080833930918416385     2.706793e+08             1
...                     ...              ...           ...
698654  1168915686867066880     3.071162e+09           362
720118  1169646971981717506     3.071162e+09           399
113514            249052113     3.071162e+09           410
269488           2788078109     3.071162e+09           447
300346           3228435266     3.071162e+09           478

[794027 rows x 3 columns]

In [10]:
hkdf_forcsvoutput.to_csv('testTweetsoutput.csv',index=False)